body {
    max-height: 100vh;
    overflow: hidden;
}

.screen {
	display: none;
}

.screen.active {
	display: block;
}

.card {
    border: none !important;
    background-color:  #7C878E !important;
    border-radius: 0 !important;
    height: 100vh;
}

#game-title {
    color:#00263A;
    text-shadow: 2px 2px 2px black;
    font-family: impact;
    letter-spacing: 22px;
    font-size: 60px;
    height: 10vh;
    text-transform: uppercase;
}

#main-canvas {
    background-image: url('./assets/space.png');
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper canvas {
    position: absolute;
    margin: auto;
    max-height: 95vh;
    bottom: 2.5vh;
    top: 2.5vh;
}